* text=auto

*.cs text eol=lf
*.shader text eol=lf
*.cginc text eol=lf
*.json text eol=lf
*.md text eol=lf
*.py text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.mixer text eol=lf
*.meta text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.wav binary
*.mp3 binary
*.ogg binary
*.docx binary
*.pdf binary
